<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193274064637-ta47svttfo83b7idcilaqhi3ppvgpfhp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193274064637-ta47svttfo83b7idcilaqhi3ppvgpfhp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>193274064637-r3j218a0rmjlju9nfqfcevj9951mc7ml.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVh9kSUCHS-dRve7F_M08fmnHAgyH0rHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>193274064637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.WhiteRabbit</string>
	<key>PROJECT_ID</key>
	<string>whiterabbit-53d2e</string>
	<key>STORAGE_BUCKET</key>
	<string>whiterabbit-53d2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193274064637:ios:67f797fad93d6c26135894</string>
	<key>DATABASE_URL</key>
	<string>https://whiterabbit-53d2e.firebaseio.com</string>
</dict>
</plist>